.main-content {
  transition: var(--transition);
  overflow: hidden;
  background-color: #fafafa;
  min-height: 100vh;
  padding-right: 30px;
  padding-left: 280px;
  padding-top: 110px;
}
.main-content .listing-area {
  background-color: var(--whiteColor);
  box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
  padding: 25px 20px 0;
  border-radius: 5px;
  margin-bottom: 30px;
}
.main-content .listing-area .pagination-area {
  margin-top: 0;
  margin-bottom: 30px;
}
.main-content .single-listings-box .listings-footer {
  border-top: 1px solid #eeeeee;
  padding: 20px;
}
.main-content .single-listings-box .listings-footer .default-btn {
  padding-top: 11px;
  padding-bottom: 11px;
}
.main-content .copyrights-area {
  padding-top: 5px;
  padding-bottom: 30px;
}
.main-content .copyrights-area p {
  line-height: initial;
  margin-bottom: 0;
}
.main-content .copyrights-area p i {
  position: relative;
  left: 0;
  top: 1px;
}
.main-content .copyrights-area p a {
  font-weight: 500;
}

.notification-alert {
  margin-bottom: 30px;
  background-color: #e6f3d8;
  border: none;
  padding: 20px 45px 19px 25px;
  color: #5f9025;
  border-radius: 5px;
}
.notification-alert strong {
  font-weight: 600;
}
.notification-alert .close {
  top: 6px;
  transition: var(--transition);
}

.breadcrumb-area {
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 3px;
}
.breadcrumb-area h1 {
  margin-bottom: 0;
  position: relative;
  color: var(--blackColor);
  padding-right: 13px;
  font-size: 22px;
  font-weight: 600;
}
.breadcrumb-area h1::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  width: 1px;
  background: #cecece;
}
.breadcrumb-area h2 {
  margin-bottom: 0;
  position: relative;
  color: var(--blackColor);
  padding-right: 13px;
  font-size: 22px;
  font-weight: 600;
}
.breadcrumb-area .breadcrumb {
  background-color: transparent;
  border-radius: 0;
  margin-bottom: 0;
  padding-left: 12px;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.breadcrumb-area .breadcrumb .item {
  color: var(--optionalColor);
  margin-right: 25px;
  position: relative;
  font-size: 16px;
}
.breadcrumb-area .breadcrumb .item a {
  display: block;
  color: var(--optionalColor);
}
.breadcrumb-area .breadcrumb .item a:hover {
  color: var(--mainColor);
}
.breadcrumb-area .breadcrumb .item::before {
  content: "\ea50";
  position: absolute;
  right: -21px;
  top: 4px;
  line-height: 18px;
  color: var(--optionalColor);
  font-family: "boxicons" !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size: 18px;
}
.breadcrumb-area .breadcrumb .item:last-child {
  margin-right: 0;
}
.breadcrumb-area .breadcrumb .item:last-child::before {
  display: none;
}

/*recent-activities-box-css*/
.recent-activities-box {
  margin-bottom: 30px;
  background-color: var(--whiteColor);
  box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
  border-radius: 5px;
}
.recent-activities-box h3 {
  margin-bottom: 0;
  padding: 20px 25px 19px;
  border-bottom: 1px dashed #eeeeee;
  font-size: 17px;
  font-weight: 600;
}
.recent-activities-box ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.recent-activities-box ul li {
  border: none;
  margin-bottom: 0;
  border-bottom: 1px dashed #eeeeee;
  border-radius: 0;
  transition: var(--transition);
  color: var(--optionalColor);
  position: relative;
  padding-left: 75px;
  padding-right: 45px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.recent-activities-box ul li .icon {
  height: 40px;
  width: 40px;
  color: #777777;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  transition: var(--transition);
  background-color: #eeeeee;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}
.recent-activities-box ul li strong {
  font-weight: 600;
  color: var(--blackColor);
}
.recent-activities-box ul li:last-child {
  border-bottom: none;
}
.recent-activities-box ul li .close {
  padding: 0;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: red;
  transition: var(--transition);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  border: 0;
  background-color: transparent;
}
.recent-activities-box ul li .rating {
  color: var(--whiteColor);
  background-color: var(--mainColor);
  text-align: center;
  line-height: 25px;
  height: 25px;
  width: 45px;
  display: inline-block;
  margin: 0;
  position: relative;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
}
.recent-activities-box ul li .rating:before {
  content: attr(data-rating);
}
.recent-activities-box ul li .rating.high {
  background-color: #64bc36;
}
.recent-activities-box ul li .rating.mid {
  background-color: var(--mainColor);
}
.recent-activities-box ul li .rating.low {
  background-color: red;
}
.recent-activities-box ul li:hover {
  background-color: #f9f9f9;
}
.recent-activities-box ul li:hover .icon {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}
.recent-activities-box ul li:hover .close {
  opacity: 1;
  visibility: visible;
}

/*invoices-box-css*/
.invoices-box {
  margin-bottom: 30px;
  background-color: var(--whiteColor);
  box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
  border-radius: 5px;
}
.invoices-box h3 {
  margin-bottom: 0;
  padding: 20px 25px 19px;
  border-bottom: 1px dashed #eeeeee;
  font-size: 17px;
  font-weight: 600;
}
.invoices-box ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.invoices-box ul li {
  border: none;
  margin-bottom: 0;
  border-bottom: 1px dashed #eeeeee;
  border-radius: 0;
  transition: var(--transition);
  color: var(--optionalColor);
  position: relative;
  padding-left: 80px;
  padding-right: 170px;
  padding-top: 26px;
  padding-bottom: 26px;
}
.invoices-box ul li .icon {
  height: 40px;
  width: 40px;
  color: #777777;
  text-align: center;
  line-height: 43px;
  border-radius: 50%;
  transition: var(--transition);
  background-color: #eeeeee;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}
.invoices-box ul li span {
  display: block;
  color: var(--blackColor);
  margin-top: 5px;
  font-size: 16px;
  font-weight: 600;
}
.invoices-box ul li .default-btn {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #e9e9e9;
  box-shadow: unset;
  border-radius: 30px;
  border: none;
  padding: 7px 20px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  font-weight: 600;
}
.invoices-box ul li .default-btn:hover {
  color: var(--whiteColor);
  background-color: var(--mainColor);
}
.invoices-box ul li:last-child {
  border-bottom: none;
}
.invoices-box ul li:hover {
  background-color: #f9f9f9;
}
.invoices-box ul li:hover .icon {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}
.invoices-box ul li:hover .default-btn {
  opacity: 1;
  visibility: visible;
}
.invoices-box ul li ul li {
  padding: 0;
  background-color: transparent;
  border: none;
  display: inline-block;
  margin-right: 16px;
  font-size: 14px;
  font-weight: 500;
}
.invoices-box ul li ul li:last-child {
  margin-right: 0;
}
.invoices-box ul li ul li:last-child::before {
  display: none;
}
.invoices-box ul li ul li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #eeeeee;
  position: absolute;
  top: 4px;
  right: -9px;
}
.invoices-box ul li ul li.unpaid {
  color: red;
}
.invoices-box ul li ul li.paid {
  color: #64bc36;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .main-content {
    padding-top: 90px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .main-content .mean-container a.meanmenu-reveal {
    padding-top: 0;
    margin-top: -5px;
  }
  .main-content .listing-area .nav .nav-item {
    margin-bottom: 15px;
    margin-right: 15px;
  }
  .main-content .listing-area .nav .nav-item .nav-link {
    font-size: 14px;
  }
  .breadcrumb-area {
    display: block;
    margin-bottom: 30px;
    text-align: center;
  }
  .breadcrumb-area h1 {
    padding-right: 0;
    font-size: 20px;
  }
  .breadcrumb-area h1::before {
    display: none;
  }
  .breadcrumb-area .breadcrumb {
    justify-content: center;
    padding-left: 0;
    padding-top: 10px;
  }
  .breadcrumb-area .breadcrumb .item {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .breadcrumb-area .breadcrumb .item::before {
    top: 3.5px;
    line-height: 15px;
    right: -17px;
    font-size: 15px;
  }
  .breadcrumb-area .breadcrumb .item:first-child {
    margin-left: 0;
  }
  .recent-activities-box h3 {
    padding: 15px 20px;
  }
  .recent-activities-box ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 65px;
    padding-right: 40px;
  }
  .recent-activities-box ul li .icon {
    left: 20px;
    line-height: 36px;
    width: 35px;
    font-size: 16px;
    height: 35px;
  }
  .recent-activities-box ul li .close {
    right: 15px;
    opacity: 1;
    visibility: visible;
    font-size: 15px;
  }
  .invoices-box h3 {
    padding: 15px 20px;
  }
  .invoices-box ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 68px;
    padding-right: 15px;
  }
  .invoices-box ul li .icon {
    left: 20px;
    line-height: 36px;
    width: 35px;
    font-size: 16px;
    height: 35px;
  }
  .invoices-box ul li span {
    font-size: 15px;
  }
  .invoices-box ul li .default-btn {
    position: relative;
    right: 0;
    top: 0;
    transform: translateY(0);
    padding: 6px 19px;
    opacity: 1;
    visibility: visible;
    font-size: 12px;
    margin-top: 10px;
  }
  .my-profile-box h3 {
    padding: 15px 20px;
  }
  .my-profile-box .profile-box {
    max-width: 240px;
  }
  .my-profile-box form {
    padding: 20px;
  }
}
/* Min width 576px to Max width 767px */
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-content {
    padding-top: 90px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .invoices-box ul li .default-btn {
    opacity: 1;
    visibility: visible;
  }
  .recent-activities-box ul li .close {
    opacity: 1;
    visibility: visible;
  }
}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-content {
    padding-top: 90px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .invoices-box ul li {
    padding-right: 140px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .invoices-box ul li .default-btn {
    right: 20px;
    padding: 6px 15px;
    opacity: 1;
    visibility: visible;
    font-size: 12px;
  }
  .breadcrumb-area {
    margin-bottom: 10px;
  }
}
/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {
  .main-content .listing-area .row .col-xl-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .invoices-box ul li {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
/* Min width 1550px */
.stats-card-box {
  margin-bottom: 30px;
  border-radius: 5px;
  position: relative;
  background-color: var(--mainColor);
  text-align: center;
  padding: 20px;
}
.stats-card-box .icon-box {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--whiteColor);
  color: var(--mainColor);
  position: absolute;
  left: 25px;
  top: 47%;
  transform: translateY(-47%);
  box-shadow: 1px 5px 24px 0 rgba(14, 198, 198, 0.15);
  text-align: center;
  font-size: 40px;
}
.stats-card-box .icon-box i {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.stats-card-box .sub-title {
  color: var(--whiteColor);
  display: block;
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: 500;
}
.stats-card-box .sub-title .wallet-currency {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.2);
  padding: 3px 7px;
  font-weight: 500;
  font-size: var(--fontSize);
}
.stats-card-box h3 {
  margin-bottom: 0;
  color: var(--whiteColor);
  font-size: 35px;
}

.col-lg-3:nth-child(1) .stats-card-box, .col-lg-4:nth-child(1) .stats-card-box {
  background-color: #64bc36;
}
.col-lg-3:nth-child(1) .stats-card-box .icon-box, .col-lg-4:nth-child(1) .stats-card-box .icon-box {
  color: #64bc36;
}
.col-lg-3:nth-child(2) .stats-card-box, .col-lg-4:nth-child(2) .stats-card-box {
  background-color: #ffae00;
}
.col-lg-3:nth-child(2) .stats-card-box .icon-box, .col-lg-4:nth-child(2) .stats-card-box .icon-box {
  color: #ffae00;
}
.col-lg-3:nth-child(4) .stats-card-box, .col-lg-4:nth-child(4) .stats-card-box {
  background-color: #f3103c;
}
.col-lg-3:nth-child(4) .stats-card-box .icon-box, .col-lg-4:nth-child(4) .stats-card-box .icon-box {
  color: #f3103c;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .stats-card-box .icon-box {
    left: 20px;
    font-size: 35px;
    width: 60px;
    height: 60px;
  }
  .stats-card-box h3 {
    font-size: 30px;
  }
  .stats-card-box .sub-title {
    font-size: 14px;
  }
}
/* Min width 576px to Max width 767px */
/* Min width 768px to Max width 991px */
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .stats-card-box {
    padding: 25px;
    text-align: center;
  }
  .stats-card-box .icon-box {
    position: relative;
    left: 0;
    top: 0;
    transform: translateY(0);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
}
/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {
  .stats-card-box {
    padding: 20px;
    text-align: center;
  }
  .stats-card-box .icon-box {
    position: relative;
    left: 0;
    top: 0;
    transform: translateY(0);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
}
/* Min width 1550px */
.earnings-box {
  margin-bottom: 30px;
  background-color: var(--whiteColor);
  box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
  border-radius: 5px;
}
.earnings-box h3 {
  margin-bottom: 0;
  padding: 20px 25px 19px;
  border-bottom: 1px dashed #eeeeee;
  font-size: 16px;
  font-weight: 600;
}
.earnings-box ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.earnings-box ul li {
  border: none;
  margin-bottom: 0;
  border-bottom: 1px dashed #eeeeee;
  border-radius: 0;
  transition: var(--transition);
  color: var(--optionalColor);
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.earnings-box ul li span {
  display: block;
  color: var(--blackColor);
  margin-top: 8px;
  font-size: 13px;
  font-weight: 600;
}
.earnings-box ul li span button {
  display: inline-block;
  padding: 8px 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  transition: var(--transition);
  border: none;
  font-size: 12px;
  font-weight: 600;
}
.earnings-box ul li span button:hover {
  background-color: #3b99ca;
  color: var(--whiteColor);
}
.earnings-box ul li span .submit_btn {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}
.earnings-box ul li .single-li {
  display: flex;
  justify-content: space-between;
}
.earnings-box ul li ul {
  margin-bottom: -4px;
}
.earnings-box ul li ul li {
  padding: 0;
  background-color: transparent;
  border: none;
  display: unset;
  font-size: 13px;
  margin-right: 17px;
  margin-bottom: 4px;
}
.earnings-box ul li ul li:last-child {
  margin-right: 0;
}
.earnings-box ul li ul li:last-child::before {
  display: none;
}
.earnings-box ul li ul li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #eeeeee;
  position: absolute;
  top: 4px;
  right: -9px;
}
.earnings-box ul li ul li.paid, .earnings-box ul li ul li.price {
  color: #64bc36;
  cursor: pointer;
}
.earnings-box ul li ul li strong {
  font-weight: 600;
}
.earnings-box ul li:last-child {
  border: none;
}
.earnings-box ul li:hover {
  background-color: #f9f9f9;
}
.earnings-box ul li:hover .icon {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}
.earnings-box ul li:hover .default-btn {
  opacity: 1;
  visibility: visible;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .earnings-box h3 {
    padding: 15px 20px;
  }
  .earnings-box ul li {
    padding: 20px;
  }
  .earnings-box ul li .icon {
    top: 0;
    transform: translateY(0);
    position: relative;
    left: 0;
    margin-bottom: 12px;
  }
  .earnings-box ul li span {
    margin-top: 10px;
    font-size: 15px;
  }
  .earnings-box ul li ul li {
    font-size: 14px;
  }
}
.submit_group {
  padding: 10px 25px;
}

@media (max-width: 426px) {
  ::ng-deep .p-dialog {
    width: 95vw !important;
  }
}
::ng-deep .single-li .p-button {
  padding: 0.25rem 0.25rem;
  font-size: 0.6rem;
}
::ng-deep .p-inputtext {
  font-size: 14px;
  height: 35px;
}
::ng-deep .p-button.p-button-icon-only.p-button-rounded {
  height: 2.357rem !important;
}

.extra-wallet .form-group {
  margin: 10px 0;
}
.extra-wallet .form-group .form-control {
  border: 1px solid #d5d5d5 !important;
  border-radius: 5px;
  background-color: #f9f9f9 !important;
  padding-top: 6px;
}
.extra-wallet input,
.extra-wallet select {
  height: 35px;
  margin: 5px 0;
}
.extra-wallet textarea {
  height: 100%;
}
.extra-wallet label {
  display: block;
  color: var(--blackColor);
  position: relative;
  padding-left: 2px;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
}

.rfqReply {
  display: flex;
  justify-content: space-between;
  align-items: inherit;
}

@media (max-width: 768px) {
  .rfqReply {
    display: block;
  }
}/*# sourceMappingURL=dashboard-wallet.component.css.map */