.login-page{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5CxkWLGV-B4yF9pHFJN3L85bYcJSFp4dY7JCkHXhVhMDpgvkda9vSEScvTIhv9kUejKk&usqp=CAU);
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay; 
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.2);
        // z-index: ;
    }
    .vesax-login{
        background:rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(3px);

    }
}